* {
    font-family: "Roboto Mono", sans-serif;
    background-color: #2f2f2f;
}

#hero {
    border: none;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    background-color: rgb(56, 20, 200);
    box-sizing: border-box;
    padding-top: 1rem;
    color: whitesmoke;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero > * {
    background-color: inherit;
}

#input-el {
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    max-width: 6rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(132, 131, 131);
    border-radius: 5px;
    color: inherit;
}

#convert-btn {
    font: inherit;
    font-weight: bold;
    margin: 2rem;
    padding: 0.4rem 1rem;
    background-color: aliceblue;
    color: #2f2f2f;
    border: none;
    border-radius: 5px;
}

#convert-btn:hover {
    background-color: rgb(246, 249, 253);
    color: rgb(56, 20, 200);
}

#unit-container {
    height: auto;
    background-color: #1f1f1f;
    padding: 1rem;
}

.unit-box {
    color: whitesmoke;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(163, 155, 246);
}

.unit-par {
    font-weight: lighter;
    font-size: 1rem;
    color: whitesmoke;
}
