

body {
    color: aliceblue;
    text-shadow: 1px 1px black;
    background-image: url("./images/math.jpg");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    text-align: center;
}

.rest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    
}

button {
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 6px 30px;
    background-color: brown;
    color: white;
    font-size: 1.5rem;
    font-family: inherit;
    border: none;
    border-radius: 5%;
    text-shadow: 1px 1px rgb(96, 23, 23);
}

button:hover {
    background-color: rgb(143, 37, 37);
    color: aliceblue;
}

#save-btn {
    padding: 6px 30px;
    background-color: rgb(41, 166, 68);
    color: white;
    font-size: 1.5rem;
    font-family: inherit;
    border: none;
    border-radius: 5%;
    text-shadow: 1px 1px rgb(96, 23, 23);
}

#save-btn:hover {
    background-color: rgb(31, 121, 51);
    color: aliceblue;
}

#prev-ent {
    font-size: 1.6rem;
    margin-top: 40px;
}